<!--
{% DEFINE SIDEBAR = 'no' %} Options: YES | NO
{% DEFINE SOCIALBUTTONS = 'no' %} Options: YES | NO
{% DEFINE ACCENTCOLOR = 'orange' %} Options: ORANGE | BLUE | GREEN | CYAN | VIOLET | CUSTOM
{% DEFINE COLORPICKER = 'yes' %} Options: YES | NO
{% DEFINE COLORPICKERPOSITION = 'ucp' %} Options: GLOBAL | UCP
{% DEFINE CUSTOMCOLORPICKERCOLOR = 'no' %} Options: YES | NO (turn this on after you make changes to custom.css)
{% DEFINE SUBFORUM = 'top' %} Options: TOP | BOTTOM
{% DEFINE PROFILE = 'right' %} Options: LEFT | RIGHT
{% DEFINE SEARCHBAR = 'headbar' %} Options: NAVIGATION | HEADBAR

-->

