<!-- IF S_TOPTOPICS_FLAT_INDEX -->
	<!-- IF .toptopics_flat_pagination or TOPTOPICS_FLAT_PAGE_NUMBER -->
		<div class="action-bar bar-top toptopics-flat-index-pagination">
			<!-- INCLUDE @freemitbbs_toptopics/toptopics_flat_pagination.html -->
		</div>
	<!-- ENDIF -->
	<!-- INCLUDE @freemitbbs_toptopics/toptopics_summary_body.html -->
	<!-- IF .toptopics_flat_pagination or TOPTOPICS_FLAT_PAGE_NUMBER -->
		<div class="action-bar bar-bottom toptopics-flat-index-pagination">
			<!-- INCLUDE @freemitbbs_toptopics/toptopics_flat_pagination.html -->
		</div>
	<!-- ENDIF -->
	<div class="toptopics-flat-index-forumlist-hidden" aria-hidden="true"></div>
<!-- ENDIF -->
