<li class="toptopics-li">
	<!-- IF not postrow.POST_DISLIKE_DISABLED -->
		<a href="{postrow.POST_DISLIKE_URL}" data-ajax="toggle_toptopics_dislike" data-overlay="false" title="{postrow.POST_DISLIKE_ACTION}" class="button button-icon-only toptopics-button" id="dislikebtn_{postrow.POST_ID}" data-post-id="{postrow.POST_ID}" data-blocked-title="{L_TOPTOPICS_REMOVE_LIKE_FIRST}">
			<i class="{postrow.POST_DISLIKE_CLASS}" title="{postrow.POST_DISLIKE_ACTION}" id="dislikeimg_{postrow.POST_ID}" aria-hidden="true"></i>
			<i class="icon toptopics-count" title="{postrow.POST_DISLIKERS}" id="dislike_{postrow.POST_ID}" aria-hidden="true">{postrow.POST_DISLIKE_COUNT}</i>
			<span class="sr-only">{postrow.POST_DISLIKE_ACTION}</span>
		</a>
	<!-- ELSE -->
		<span title="{postrow.POST_DISLIKE_ACTION}" class="button button-icon-only toptopics-button" id="dislikebtn_{postrow.POST_ID}" data-post-id="{postrow.POST_ID}">
			<i class="{postrow.POST_DISLIKE_CLASS}" title="{postrow.POST_DISLIKE_ACTION}" id="dislikeimg_{postrow.POST_ID}" aria-hidden="true"></i>
			<i class="icon toptopics-count" title="{postrow.POST_DISLIKERS}" id="dislike_{postrow.POST_ID}" aria-hidden="true">{postrow.POST_DISLIKE_COUNT}</i>
			<span class="sr-only">{postrow.POST_DISLIKE_ACTION}</span>
		</span>
	<!-- ENDIF -->
</li>
