<!-- IF S_CARDGAMES_NAV -->
	<li class="rightside" data-skip-responsive="true">
		<a href="{U_CARDGAMES_LAUNCH}" data-navbar-reference="cardgames" title="{CARDGAMES_NAV_LABEL}" aria-label="{CARDGAMES_NAV_LABEL}">
			<i class="icon fa-cards fa-fw cardgames-nav-icon" aria-hidden="true"></i><!-- IF S_CARDGAMES_NAV_COUNT --><span class="cardgames-nav-mobile-count" aria-hidden="true">({CARDGAMES_NAV_COUNT})</span><!-- ENDIF --><span class="responsive-hide">{CARDGAMES_NAV_LABEL}</span>
		</a>
	</li>
<!-- ENDIF -->
