{% if S_TOPTOPICS_TOPICPREVIEW and not S_TOPICPREVIEW %}
	{% if TOPTOPICS_PREVIEW_THEME %}
	{% INCLUDECSS '@vse_topicpreview/' ~ TOPTOPICS_PREVIEW_THEME ~ '.css' %}
	{% endif %}
	{% INCLUDEJS '@vse_topicpreview/topicpreview.js' %}
	<script>
		window.topicPreviewOptions = {
			dir: '{{ S_CONTENT_DIRECTION }}',
			delay: {{ TOPTOPICS_PREVIEW_DELAY }},
			width: {{ TOPTOPICS_PREVIEW_WIDTH }},
			drift: {{ TOPTOPICS_PREVIEW_DRIFT }},
			position: {left: 35, top: 25}
		};
		window.topicPreviewPath = './app.php/topicpreview/';
	</script>
{% endif %}
