<dl>
	<dt><label for="toptopics_show_mobile_topic_stats1">{L_TOPTOPICS_SHOW_MOBILE_TOPIC_STATS}{L_COLON}</label><br /><span>{L_TOPTOPICS_SHOW_MOBILE_TOPIC_STATS_EXPLAIN}</span></dt>
	<dd>
		<label for="toptopics_show_mobile_topic_stats1"><input type="radio" name="toptopics_show_mobile_topic_stats" id="toptopics_show_mobile_topic_stats1" value="1"<!-- IF S_TOPTOPICS_SHOW_MOBILE_TOPIC_STATS --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label for="toptopics_show_mobile_topic_stats0"><input type="radio" name="toptopics_show_mobile_topic_stats" id="toptopics_show_mobile_topic_stats0" value="0"<!-- IF not S_TOPTOPICS_SHOW_MOBILE_TOPIC_STATS --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</dd>
</dl>
