<dl>
	<dt><label for="toptopics_show_forum_summary1">{L_TOPTOPICS_SHOW_FORUM_SUMMARY}{L_COLON}</label><br /><span>{L_TOPTOPICS_SHOW_FORUM_SUMMARY_EXPLAIN}</span></dt>
	<dd>
		<label for="toptopics_show_forum_summary1"><input type="radio" name="toptopics_show_forum_summary" id="toptopics_show_forum_summary1" value="1"<!-- IF S_TOPTOPICS_SHOW_FORUM_SUMMARY --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label for="toptopics_show_forum_summary0"><input type="radio" name="toptopics_show_forum_summary" id="toptopics_show_forum_summary0" value="0"<!-- IF not S_TOPTOPICS_SHOW_FORUM_SUMMARY --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</dd>
</dl>
