<dl>
	<dt><label for="postlove_show_summary1">{L_POSTLOVE_SHOW_SUMMARY}{L_COLON}</label><br /><span>{L_POSTLOVE_SHOW_SUMMARY_EXPLAIN}</span></dt>
	<dd>
		<label for="postlove_show_summary1"><input type="radio" name="postlove_show_summary" id="postlove_show_summary1" value="1"<!-- IF S_POSTLOVE_SHOW_SUMMARY --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label for="postlove_show_summary0"><input type="radio" name="postlove_show_summary" id="postlove_show_summary0" value="0"<!-- IF not S_POSTLOVE_SHOW_SUMMARY --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</dd>
</dl>
