<div class="navbar" role="navigation">
	<div class="inner">
		<ul id="nav-footer" class="nav-footer linklist" role="menubar">
			<li class="breadcrumbs">
				{% if U_SITE_HOME %}
				{% apply spaceless %}
				<span class="crumb">
					<a href="{{ U_SITE_HOME }}" data-navbar-reference="home">
						<i class="icon fa-home fa-fw" aria-hidden="true"></i><span>{{ lang('SITE_HOME') }}</span>
					</a>
				</span>
				{% endapply %}
			{% endif %}
			{% EVENT overall_footer_breadcrumb_prepend %}
			{% apply spaceless %}
				<span class="crumb">
					<a href="{{ U_INDEX }}" data-navbar-reference="index">
					{% if not U_SITE_HOME %}<i class="icon fa-home fa-fw" aria-hidden="true"></i>{% endif %}<span>{{ lang('INDEX') }}</span>
					</a>
				</span>
			{% endapply %}
			{% EVENT overall_footer_breadcrumb_append %}
			</li>
		{% if U_WATCH_FORUM_LINK and not S_IS_BOT %}
			<li data-last-responsive="true">
				<a href="{{ U_WATCH_FORUM_LINK }}" title="{{ S_WATCH_FORUM_TITLE }}" data-ajax="toggle_link" data-toggle-class="icon {% if S_WATCHING_FORUM %}fa-square-o{% else %}fa-check-square-o{% endif %} fa-fw" data-toggle-text="{{ S_WATCH_FORUM_TOGGLE }}" data-toggle-url="{{ U_WATCH_FORUM_TOGGLE }}">
					<i class="icon {% if S_WATCHING_FORUM %}fa-check-square-o{% else %}fa-square-o{% endif %} fa-fw" aria-hidden="true"></i><span>{{ S_WATCH_FORUM_TITLE }}</span>
				</a>
			</li>
		{% endif %}

		{% EVENT overall_footer_timezone_before %}
			<li class="rightside dropdown-container timezone times" data-skip-responsive="true">
				<a href="#" class="dropdown-trigger">
				<i class="icon fa-globe fa-fw" aria-hidden="true"></i>
				</a>
				<div class="dropdown">
				<div class="pointer"><div class="pointer-inner"></div></div>
					<div class="dropdown-contents">
						{S_TIMEZONE}
					</div>
				</div>
			</li>		{% EVENT overall_footer_timezone_after %}
		{% if not S_IS_BOT %}
			<li class="rightside">
				<a href="{{ U_DELETE_COOKIES }}" data-ajax="true" data-refresh="true" role="menuitem">
					<i class="icon fa-trash fa-fw" aria-hidden="true"></i><span>{{ lang('DELETE_COOKIES') }}</span>
				</a>
			</li>
			{% if S_DISPLAY_MEMBERLIST %}
			<li class="rightside" data-last-responsive="true">
				<a href="{{ U_MEMBERLIST }}" title="{{ lang('MEMBERLIST_EXPLAIN') }}" role="menuitem">
					<i class="icon fa-group fa-fw" aria-hidden="true"></i><span>{{ lang('MEMBERLIST') }}</span>
				</a>
			</li>
			{% endif %}
		{% endif %}
		{% EVENT overall_footer_teamlink_before %}
		{% if U_TEAM %}
			<li class="rightside" data-last-responsive="true">
				<a href="{{ U_TEAM }}" role="menuitem">
					<i class="icon fa-shield fa-fw" aria-hidden="true"></i><span>{{ lang('THE_TEAM') }}</span>
				</a>
			</li>
		{% endif %}
		{% EVENT overall_footer_teamlink_after %}
		{% if U_CONTACT_US %}
			<li class="rightside" data-last-responsive="true">
				<a href="{{ U_CONTACT_US }}" role="menuitem">
					<i class="icon fa-envelope fa-fw" aria-hidden="true"></i><span>{{ lang('CONTACT_US') }}</span>
				</a>
			</li>
		{% endif %}
		</ul>
	</div>
	<div class="copyright">
		{% EVENT overall_footer_copyright_prepend %}
		<br><strong><span>*</span>{T_THEME_NAME} style by <a href="https://twitter.com/MannixMD">MannixMD</a></strong>		
		<br><strong><span>*</span>Style Version 1.1.18</strong>	
		<p class="footer-row">
			<span class="footer-copyright">{{ CREDIT_LINE }}</span>
		</p>
		{% if TRANSLATION_INFO %}
		<p class="footer-row">
			<span class="footer-copyright">{{ TRANSLATION_INFO }}</span>
		</p>
		{% endif %}
		{% EVENT overall_footer_copyright_append %}
		<p class="footer-row" role="menu">
			<a class="footer-link" href="{{ U_PRIVACY }}" title="{{ lang('PRIVACY_LINK') }}" role="menuitem">
				<span class="footer-link-text">{{ lang('PRIVACY_LINK') }}</span>
			</a>
			|
			<a class="footer-link" href="{{ U_TERMS_USE }}" title="{{ lang('TERMS_LINK') }}" role="menuitem">
				<span class="footer-link-text">{{ lang('TERMS_LINK') }}</span>
			</a>
		</p>
		{% if DEBUG_OUTPUT %}
		<p class="footer-row">
			<span class="footer-info">{{ DEBUG_OUTPUT }}</span>
		</p>
		{% endif %}
		{% if U_ACP %}
		<p class="footer-row">
			<a class="footer-link text-strong" href="{{ U_ACP }}">{{ lang('ACP') }}</a>
		</p>
		{% endif %}
	</div>
</div>
