<!-- INCLUDE overall_header.html -->

<div class="panel">
	<div class="inner">

	<h2>{SITENAME} - {L_LOGIN_LINK}</h2>

	<p>{L_LOGIN_LINK_EXPLAIN}</p>

	<!-- IF LOGIN_LINK_ERROR --><div class="content">
		<div class="error">{LOGIN_LINK_ERROR}</div>
	</div><!-- ENDIF -->

	<!-- IF S_CAN_OAUTH_REGISTER -->
	<div class="content">
		<h2>{L_REGISTER}</h2>

		<form action="{REGISTER_ACTION}" method="post" id="register">
			<fieldset class="fields1">
				<dl>
					<dt><label for="username">{L_USERNAME}{L_COLON}</label><br /><span>{OAUTH_USERNAME_EXPLAIN}</span><br /><span>{L_OAUTH_REGISTER_USERNAME_EXPLAIN}</span></dt>
					<dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{OAUTH_USERNAME}" class="inputbox autowidth" autocomplete="username" /></dd>
				</dl>
				<dl>
					<dt>&nbsp;</dt>
					<dd>{S_HIDDEN_FIELDS}<input type="submit" name="register" tabindex="2" value="{L_SUBMIT}" class="button1" />{S_FORM_TOKEN}</dd>
				</dl>
			</fieldset>
		</form>
	</div>
	<!-- ENDIF -->

	</div>
</div>

<!-- INCLUDE overall_footer.html -->
