{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('ACP_CARDGAMESAUTH_SETTINGS') }}</h1>
<p>{{ lang('CARDGAMESAUTH_EXPLAIN') }}</p>
<p>
	<a href="{U_CARDGAMES_ADMIN}" class="button2">{{ lang('CARDGAMESAUTH_OPEN_CONTROL') }}</a>
	<span>{{ lang('CARDGAMESAUTH_OPEN_CONTROL_EXPLAIN') }}</span>
</p>

<form id="acp_cardgamesauth" method="post" action="{U_ACTION}">
	<fieldset>
		<legend>{{ lang('CARDGAMESAUTH_FIELDSET_GENERAL') }}</legend>

		<dl>
			<dt>
				<label for="cardgamesauth_enabled">{{ lang('CARDGAMESAUTH_ENABLED') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_ENABLED_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" id="cardgamesauth_enabled" name="cardgamesauth_enabled" value="1"{% if CARDGAMESAUTH_ENABLED %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="cardgamesauth_enabled" value="0"{% if not CARDGAMESAUTH_ENABLED %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt>
				<label for="cardgamesauth_nav_enabled">{{ lang('CARDGAMESAUTH_NAV_ENABLED') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_NAV_ENABLED_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" id="cardgamesauth_nav_enabled" name="cardgamesauth_nav_enabled" value="1"{% if CARDGAMESAUTH_NAV_ENABLED %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="cardgamesauth_nav_enabled" value="0"{% if not CARDGAMESAUTH_NAV_ENABLED %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt>
				<label for="cardgamesauth_testing_mode">{{ lang('CARDGAMESAUTH_TESTING_MODE') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_TESTING_MODE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" id="cardgamesauth_testing_mode" name="cardgamesauth_testing_mode" value="1"{% if CARDGAMESAUTH_TESTING_MODE %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="cardgamesauth_testing_mode" value="0"{% if not CARDGAMESAUTH_TESTING_MODE %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('CARDGAMESAUTH_FIELDSET_CLIENT') }}</legend>

		<dl>
			<dt>
				<label for="cardgamesauth_client_url">{{ lang('CARDGAMESAUTH_CLIENT_URL') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_CLIENT_URL_EXPLAIN') }}</span>
			</dt>
			<dd><input type="text" id="cardgamesauth_client_url" name="cardgamesauth_client_url" value="{CARDGAMESAUTH_CLIENT_URL}" class="inputbox" /></dd>
		</dl>

		<dl>
			<dt>
				<label for="cardgamesauth_launch_redirect">{{ lang('CARDGAMESAUTH_LAUNCH_REDIRECT') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_LAUNCH_REDIRECT_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" id="cardgamesauth_launch_redirect" name="cardgamesauth_launch_redirect" value="1"{% if CARDGAMESAUTH_LAUNCH_REDIRECT %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="cardgamesauth_launch_redirect" value="0"{% if not CARDGAMESAUTH_LAUNCH_REDIRECT %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt>
				<label for="cardgamesauth_ws_url">{{ lang('CARDGAMESAUTH_WS_URL') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_WS_URL_EXPLAIN') }}</span>
			</dt>
			<dd><input type="text" id="cardgamesauth_ws_url" name="cardgamesauth_ws_url" value="{CARDGAMESAUTH_WS_URL}" class="inputbox" /></dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('CARDGAMESAUTH_FIELDSET_TOKEN') }}</legend>

		<dl>
			<dt>
				<label for="cardgamesauth_token_secret">{{ lang('CARDGAMESAUTH_TOKEN_SECRET') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_TOKEN_SECRET_EXPLAIN') }}</span>
			</dt>
			<dd><input type="text" id="cardgamesauth_token_secret" name="cardgamesauth_token_secret" value="{CARDGAMESAUTH_TOKEN_SECRET}" class="inputbox" autocomplete="off" /></dd>
		</dl>

		<dl>
			<dt>
				<label for="cardgamesauth_token_ttl">{{ lang('CARDGAMESAUTH_TOKEN_TTL') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_TOKEN_TTL_EXPLAIN') }}</span>
			</dt>
			<dd><input type="number" min="30" max="600" id="cardgamesauth_token_ttl" name="cardgamesauth_token_ttl" value="{CARDGAMESAUTH_TOKEN_TTL}" /></dd>
		</dl>

		<dl>
			<dt>
				<label for="cardgamesauth_token_rate_limit">{{ lang('CARDGAMESAUTH_TOKEN_RATE_LIMIT') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_TOKEN_RATE_LIMIT_EXPLAIN') }}</span>
			</dt>
			<dd><input type="number" min="1" max="120" id="cardgamesauth_token_rate_limit" name="cardgamesauth_token_rate_limit" value="{CARDGAMESAUTH_TOKEN_RATE_LIMIT}" /></dd>
		</dl>

		<dl>
			<dt>
				<label for="cardgamesauth_token_rate_window">{{ lang('CARDGAMESAUTH_TOKEN_RATE_WINDOW') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_TOKEN_RATE_WINDOW_EXPLAIN') }}</span>
			</dt>
			<dd><input type="number" min="10" max="3600" id="cardgamesauth_token_rate_window" name="cardgamesauth_token_rate_window" value="{CARDGAMESAUTH_TOKEN_RATE_WINDOW}" /></dd>
		</dl>

		<dl>
			<dt>
				<label for="cardgamesauth_token_clock_tolerance">{{ lang('CARDGAMESAUTH_TOKEN_CLOCK_TOLERANCE') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_TOKEN_CLOCK_TOLERANCE_EXPLAIN') }}</span>
			</dt>
			<dd><input type="number" min="0" max="300" id="cardgamesauth_token_clock_tolerance" name="cardgamesauth_token_clock_tolerance" value="{CARDGAMESAUTH_TOKEN_CLOCK_TOLERANCE}" /></dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('CARDGAMESAUTH_FIELDSET_TESTERS') }}</legend>

		<dl>
			<dt>
				<label>{{ lang('CARDGAMESAUTH_TESTER_GROUP') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_TESTER_GROUP_EXPLAIN') }}</span>
			</dt>
			<dd><strong>{CARDGAMESAUTH_TESTER_GROUP_NAME}</strong></dd>
		</dl>

		<dl>
			<dt>
				<label for="cardgamesauth_add_tester_usernames">{{ lang('CARDGAMESAUTH_ADD_TESTERS') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_ADD_TESTERS_EXPLAIN') }}</span>
			</dt>
			<dd><textarea id="cardgamesauth_add_tester_usernames" name="cardgamesauth_add_tester_usernames" rows="3" cols="60" class="inputbox"></textarea></dd>
		</dl>

		<dl>
			<dt>
				<label>{{ lang('CARDGAMESAUTH_CURRENT_TESTERS') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_CURRENT_TESTERS_EXPLAIN') }}</span>
			</dt>
			<dd><!-- IF CARDGAMESAUTH_TESTER_MEMBERS -->{CARDGAMESAUTH_TESTER_MEMBERS}<!-- ELSE -->{{ lang('CARDGAMESAUTH_NO_TESTERS') }}<!-- ENDIF --></dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('CARDGAMESAUTH_FIELDSET_PROXY') }}</legend>

		<dl>
			<dt>
				<label for="cardgamesauth_proxy_enabled">{{ lang('CARDGAMESAUTH_PROXY_ENABLED') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_PROXY_ENABLED_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" id="cardgamesauth_proxy_enabled" name="cardgamesauth_proxy_enabled" value="1"{% if CARDGAMESAUTH_PROXY_ENABLED %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="cardgamesauth_proxy_enabled" value="0"{% if not CARDGAMESAUTH_PROXY_ENABLED %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt>
				<label for="cardgamesauth_proxy_secret">{{ lang('CARDGAMESAUTH_PROXY_SECRET') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_PROXY_SECRET_EXPLAIN') }}</span>
			</dt>
			<dd><input type="text" id="cardgamesauth_proxy_secret" name="cardgamesauth_proxy_secret" value="{CARDGAMESAUTH_PROXY_SECRET}" class="inputbox" autocomplete="off" /></dd>
		</dl>

		<dl>
			<dt>
				<label for="cardgamesauth_proxy_clock_skew">{{ lang('CARDGAMESAUTH_PROXY_CLOCK_SKEW') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_PROXY_CLOCK_SKEW_EXPLAIN') }}</span>
			</dt>
			<dd><input type="number" min="30" max="3600" id="cardgamesauth_proxy_clock_skew" name="cardgamesauth_proxy_clock_skew" value="{CARDGAMESAUTH_PROXY_CLOCK_SKEW}" /></dd>
		</dl>

		<dl>
			<dt>
				<label for="cardgamesauth_proxy_nonce_ttl">{{ lang('CARDGAMESAUTH_PROXY_NONCE_TTL') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_PROXY_NONCE_TTL_EXPLAIN') }}</span>
			</dt>
			<dd><input type="number" min="30" max="3600" id="cardgamesauth_proxy_nonce_ttl" name="cardgamesauth_proxy_nonce_ttl" value="{CARDGAMESAUTH_PROXY_NONCE_TTL}" /></dd>
		</dl>

		<dl>
			<dt>
				<label for="cardgamesauth_proxy_max_body_bytes">{{ lang('CARDGAMESAUTH_PROXY_MAX_BODY_BYTES') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_PROXY_MAX_BODY_BYTES_EXPLAIN') }}</span>
			</dt>
			<dd><input type="number" min="1024" max="1048576" id="cardgamesauth_proxy_max_body_bytes" name="cardgamesauth_proxy_max_body_bytes" value="{CARDGAMESAUTH_PROXY_MAX_BODY_BYTES}" /></dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('CARDGAMESAUTH_FIELDSET_RUNTIME_HOOKS') }}</legend>

		<dl>
			<dt>
				<label for="cardgames_node_runtime_enabled">{{ lang('CARDGAMESAUTH_NODE_RUNTIME_ENABLED') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_NODE_RUNTIME_ENABLED_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" id="cardgames_node_runtime_enabled" name="cardgames_node_runtime_enabled" value="1"{% if CARDGAMES_NODE_RUNTIME_ENABLED %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="cardgames_node_runtime_enabled" value="0"{% if not CARDGAMES_NODE_RUNTIME_ENABLED %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt>
				<label for="cardgames_node_runtime_base_url">{{ lang('CARDGAMESAUTH_NODE_RUNTIME_BASE_URL') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_NODE_RUNTIME_BASE_URL_EXPLAIN') }}</span>
			</dt>
			<dd><input type="text" id="cardgames_node_runtime_base_url" name="cardgames_node_runtime_base_url" value="{CARDGAMES_NODE_RUNTIME_BASE_URL}" class="inputbox" /></dd>
		</dl>

		<dl>
			<dt>
				<label for="cardgames_node_runtime_service_id">{{ lang('CARDGAMESAUTH_NODE_RUNTIME_SERVICE_ID') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_NODE_RUNTIME_SERVICE_ID_EXPLAIN') }}</span>
			</dt>
			<dd><input type="text" id="cardgames_node_runtime_service_id" name="cardgames_node_runtime_service_id" value="{CARDGAMES_NODE_RUNTIME_SERVICE_ID}" class="inputbox" /></dd>
		</dl>

		<dl>
			<dt>
				<label for="cardgames_node_runtime_service_secret">{{ lang('CARDGAMESAUTH_NODE_RUNTIME_SERVICE_SECRET') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_NODE_RUNTIME_SERVICE_SECRET_EXPLAIN') }}</span>
			</dt>
			<dd><input type="text" id="cardgames_node_runtime_service_secret" name="cardgames_node_runtime_service_secret" value="{CARDGAMES_NODE_RUNTIME_SERVICE_SECRET}" class="inputbox" autocomplete="off" /></dd>
		</dl>

		<dl>
			<dt>
				<label for="cardgames_node_runtime_timeout_ms">{{ lang('CARDGAMESAUTH_NODE_RUNTIME_TIMEOUT_MS') }}</label><br />
				<span>{{ lang('CARDGAMESAUTH_NODE_RUNTIME_TIMEOUT_MS_EXPLAIN') }}</span>
			</dt>
			<dd><input type="number" min="1000" max="30000" id="cardgames_node_runtime_timeout_ms" name="cardgames_node_runtime_timeout_ms" value="{CARDGAMES_NODE_RUNTIME_TIMEOUT_MS}" /></dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		{{ S_FORM_TOKEN }}
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
	</fieldset>
</form>

{% INCLUDE 'overall_footer.html' %}
