{% if S_VIDEOUPLOAD_AVAILABLE %}
<div id="videoupload-qr-control"
	class="videoupload-control"
	data-upload-url="{{ VIDEOUPLOAD_U_UPLOAD|e('html_attr') }}"
	data-hash="{{ VIDEOUPLOAD_HASH|e('html_attr') }}"
	data-forum-id="{{ VIDEOUPLOAD_FORUM_ID|e('html_attr') }}"
	data-max-bytes="{{ VIDEOUPLOAD_MAX_BYTES|e('html_attr') }}"
	data-allowed-exts="{{ VIDEOUPLOAD_ALLOWED_EXTS|e('html_attr') }}"
	data-msg-uploading="{{ VIDEOUPLOAD_MSG_UPLOADING|e('html_attr') }}"
	data-msg-success="{{ VIDEOUPLOAD_MSG_SUCCESS|e('html_attr') }}"
	data-msg-extension="{{ VIDEOUPLOAD_MSG_EXTENSION|e('html_attr') }}"
	data-msg-too-large="{{ VIDEOUPLOAD_MSG_TOO_LARGE|e('html_attr') }}"
	data-msg-generic="{{ VIDEOUPLOAD_MSG_GENERIC|e('html_attr') }}">
	<a href="#" class="videoupload-link" id="videoupload-qr-button" title="{{ VIDEOUPLOAD_HELP_TEXT|e('html_attr') }}">
		<i class="icon fa-video-camera fa-fw" aria-hidden="true"></i><span>{{ lang('VIDEOUPLOAD_BUTTON') }}</span>
	</a>
	<input type="file"
		id="videoupload-qr-file"
		accept="{{ VIDEOUPLOAD_ACCEPT|e('html_attr') }}"
		hidden />
	<span id="videoupload-qr-status" class="videoupload-status"></span>
</div>
{% endif %}
