<!-- IF S_MODERNSMILEY_ENABLED -->
<!-- INCLUDECSS @freemitbbs_modernsmiley/modernsmiley.css -->
<script>
window.MODERNSMILEY_ASSET_URL_PATTERN = {MODERNSMILEY_ASSET_URL_PATTERN_JSON};
window.MODERNSMILEY_FALLBACK_ASSET_URL_PATTERN = {MODERNSMILEY_FALLBACK_ASSET_URL_PATTERN_JSON};
window.MODERNSMILEY_HOVER_ASSET_URL_PATTERN = {MODERNSMILEY_HOVER_ASSET_URL_PATTERN_JSON};
window.MODERNSMILEY_HOVER_FALLBACK_ASSET_URL_PATTERN = {MODERNSMILEY_HOVER_FALLBACK_ASSET_URL_PATTERN_JSON};
window.MODERNSMILEY_CODE_MAP = {MODERNSMILEY_CODE_MAP_JSON};
</script>
<script src="{ROOT_PATH}ext/freemitbbs/modernsmiley/styles/all/template/js/modernsmiley.js?assets_version={T_ASSETS_VERSION}"></script>
<!-- ENDIF -->
