<!-- INCLUDE ucp_header.html -->

<form id="ucp_reactions" method="post" action="{U_ACTION}">
	<h2>{L_UCP_REACTIONS_TITLE}</h2>
	<p>{L_UCP_REACTIONS_EXPLAIN}</p>

	<fieldset>
		<dl>
			<dt><label for="user_reactions_notify">{L_UCP_REACTIONS_NOTIFY}</label><br /><span>{L_UCP_REACTIONS_NOTIFY_EXPLAIN}</span></dt>
			<dd>
				<label><input type="radio" name="user_reactions_notify" value="1"<!-- IF USER_REACTIONS_NOTIFY --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> &nbsp;
				<label><input type="radio" name="user_reactions_notify" value="0"<!-- IF not USER_REACTIONS_NOTIFY --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="user_reactions_cron_email">{L_UCP_REACTIONS_CRON_EMAIL}</label><br /><span>{L_UCP_REACTIONS_CRON_EMAIL_EXPLAIN}</span></dt>
			<dd>
				<label><input type="radio" name="user_reactions_cron_email" value="1"<!-- IF USER_REACTIONS_CRON_EMAIL --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> &nbsp;
				<label><input type="radio" name="user_reactions_cron_email" value="0"<!-- IF not USER_REACTIONS_CRON_EMAIL --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
		{S_FORM_TOKEN}
	</fieldset>
</form>

<!-- INCLUDE ucp_footer.html -->
