<script>
window.postimage = window.postimage || {};
window.postimage.opt = window.postimage.opt || {};

(function(lang) {
	lang = (lang || '').toLowerCase();

	if (lang === 'zh-cmn-hans' || lang.indexOf('zh-hans') !== -1 || lang === 'zh-cn' || lang === 'zh-sg')
	{
		window.postimage.opt.lang = 'zh-cn';
		window.postimage.opt.customtext = '将图片添加到帖子';
	}
	else if (lang === 'zh-cmn-hant' || lang.indexOf('zh-hant') !== -1 || lang === 'zh-hk' || lang === 'zh-tw' || lang === 'zh-mo')
	{
		window.postimage.opt.lang = 'zh-hk';
		window.postimage.opt.customtext = '將圖片加入貼文';
	}
})(document.documentElement.lang);

function postimage_customize() {
	return window.postimage;
}
</script>
<script type="text/javascript" src="//mod.postimage.org/phpbb3-hotlink.js" charset="utf-8"></script>
