<dl>
	<dt><label for="topicmover_no_move1">{L_TOPICMOVER_UCP_NO_MOVE}{L_COLON}</label><br /><span>{L_TOPICMOVER_UCP_NO_MOVE_EXPLAIN}</span></dt>
	<dd>
		<label for="topicmover_no_move1"><input type="radio" name="topicmover_no_move" id="topicmover_no_move1" value="1"<!-- IF S_TOPICMOVER_NO_MOVE --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label for="topicmover_no_move0"><input type="radio" name="topicmover_no_move" id="topicmover_no_move0" value="0"<!-- IF not S_TOPICMOVER_NO_MOVE --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</dd>
</dl>
