<!-- IF S_HAS_HOT_FORUMS -->
<div class="forabg hotforums-block">
	<div class="inner">
	<ul class="topiclist">
		<li class="header">
			<dl class="row-item">
				<dt><div class="list-inner"><i class="icon fa-eye fa-fw hotforums-icon" aria-hidden="true"></i> {L_HOTFORUMS_TITLE}</div></dt>
			</dl>
		</li>
		<li class="hotforums-shell">
			<div class="hotforums-wrap">
				<div class="hotforums-menu">
					<!-- BEGIN hot_forums -->
					<a href="{hot_forums.U_VIEWFORUM}" class="hotforums-link" title="{L_VIEWS}{L_COLON} {hot_forums.TOTAL_VIEWS}">{hot_forums.FORUM_NAME}</a>
					<!-- END hot_forums -->
				</div>
			</div>
		</li>
	</ul>
	</div>
</div>
<!-- ENDIF -->
