<!-- INCLUDE overall_header.html -->

<h2>{L_BLOG_MANAGE}</h2>
<p>{L_BLOG_MANAGE_EXPLAIN}</p>

<div class="blog-actions">
	<a class="button" href="{U_BLOG_NEW}">{L_BLOG_NEW_ENTRY}</a>
	<a class="button" href="{U_BLOG_PUBLIC}">{L_BLOG_VIEW_MY_BLOG}</a>
	<a class="button" href="{U_BLOG_INDEX}">{L_BLOG_VIEW_ALL}</a>
</div>

<!-- IF S_BLOG_HAS_ENTRIES -->
	<div class="panel">
		<div class="inner">
			<ul class="topiclist forums">
			<!-- BEGIN blog_entries -->
				<li class="row <!-- IF blog_entries.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
					<dl>
						<dt>
							<div class="list-inner">
								<a class="topictitle" href="{blog_entries.U_ENTRY}">{blog_entries.ENTRY_TITLE}</a>
								<span class="blog-entry-status {blog_entries.ENTRY_STATUS_CLASS}">{blog_entries.ENTRY_STATUS}</span>
								<div class="blog-entry-meta">
									<time datetime="{blog_entries.ENTRY_TIME_RFC3339}">{blog_entries.ENTRY_TIME}</time>
									<!-- IF blog_entries.S_HAS_SOURCE_POST --> &bull; <a href="{blog_entries.U_SOURCE_POST}">{L_BLOG_SOURCE_POST}</a><!-- ENDIF -->
								</div>
								<!-- IF blog_entries.S_HAS_TAGS -->
									<div class="posttags-post blog-entry-tags">
										<!-- BEGIN posttags -->
											<a class="posttags-tag" href="{blog_entries.posttags.U_SEARCH}">#{blog_entries.posttags.NAME}</a>
										<!-- END posttags -->
									</div>
								<!-- ENDIF -->
								<div class="blog-actions">
									<a class="button" href="{blog_entries.U_EDIT}">{L_BLOG_EDIT_LINK}</a>
									<a class="button" href="{blog_entries.U_TOGGLE}">{blog_entries.TOGGLE_LABEL}</a>
									<a class="button" href="{blog_entries.U_DELETE}">{L_BLOG_DELETE}</a>
								</div>
							</div>
						</dt>
					</dl>
				</li>
			<!-- END blog_entries -->
			</ul>
		</div>
	</div>
<!-- ELSE -->
	<div class="panel">
		<div class="inner">
			<p>{L_BLOG_NO_OWN_ENTRIES}</p>
		</div>
	</div>
<!-- ENDIF -->

<!-- IF .pagination -->
	<div class="pagination">
		{PAGE_NUMBER} &bull; <!-- INCLUDE pagination.html -->
	</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
